{% extends "layout/base.html" %}

{% block title %}Delete Account{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <form class="col-lg-8 col-md-10 col-11 m-2 card bg-light"
              action="{% url 'account-delete' %}"
              method="POST">
            {% csrf_token %}
            <div class="card-body">
                <p>Are you sure you wish to <strong>permanently</strong> delete your account?</p>
                <div class="row justify-content-center">
                    <button class="col-5 m-1 btn btn-danger">Yes</button>
                    <a class="col-5 m-1 btn btn-primary" href="{% url 'todo-lists' %}">No</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
