<div id="task-{{ task.pk }}" class="card-body row">
    <div class="col-8">
        <div class="row">
            <div class="col-12">{{ task.name }}</div>
        </div>
        <div class="row">
            <div class="col-12 text-secondary">{{ task.due_date }}</div>
        </div>
    </div>
    <div class="col-2">
        <button class="col-12 btn btn-warning"
                hx-get="{% url 'task-edit' task.pk %}"
                hx-target="#task-{{ task.pk }}"
                hx-swap="outerHTML">
            <div class="spinner-border spinner-border-sm htmx-indicator">
                <span class="visually-hidden">Loading...</span>
            </div>
            Edit
        </button>
    </div>
    <form class="col-2"
            hx-delete="{% url 'task' task.pk %}"
            hx-target="#tasks-view"
            hx-swap="outerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <button class="col-12 btn btn-danger">
            <div class="spinner-border spinner-border-sm htmx-indicator">
                <span class="visually-hidden">Loading...</span>
            </div>
            Delete
        </button>
    </form>
</div>
