<div id="todo_list-update-form" class="row justify-content-center">
    <form class="col-8"
          hx-put=""
          hx-target="#todo_list-update-form"
          hx-swap="outerHTML">
          {% csrf_token %}
          {{ form }}
        <br/>
        <button class="m-1 btn btn-success">
            <div class="spinner-border spinner-border-sm htmx-indicator">
                <span class="visually-hidden">Loading...</span>
                Save
            </div>
        </button>
        <button class="m-1 btn btn-danger"
                type="button"
                hx-get=""
                hx-target="#todo_list-update-form"
                hx-swap="outerHTML">
            <div class="spinner-border spinner-border-sm htmx-indicator">
                <span class="visually-hidden">Loading...</span>
                Cancel
            </div>
        </button>
    </form>
</div>
