{% extends "layout/base.html" %}

{% block title %}Todo Lists{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-11 m-2 card bg-light">
            <div class="card-body">
                <h3 class="card-title">New Todo List</h3>
                {% include "todo_lists/todo_list_create_form.html" %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-11 m-2 card bg-light">
            <div class="card-body">
                <h3 class="card-title">Todo Lists</h3>
                {% include "todo_lists/todo_lists_partial.html" %}
            </div>
        </div>
    </div>
{% endblock %}
