{% extends "layout/base.html" %}

{% block title %}Todo List Details{% endblock %}

{% block content %}
    {% include "todo_lists/todo_list_info.html" %}
    <div class="row justify-content-center">
        <div class="col-8 m-2 card bg-light">
            <div class="card-body">
                <h3 class="card-title">New Task</h3>
                {% include "todo_lists/task_create_form.html" %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 m-2 card bg-light">
            <div class="card-body">
                <h3 class="card-title">Tasks</h3>
                {% include "todo_lists/tasks_partial.html" %}
            </div>
        </div>
    </div>
{% endblock %}
