<div id="todo_list-update-form" class="row justify-content-center">
    <form class="col-8"
          hx-post="{% url 'todo-list' todo_list.pk %}"
          hx-target="#todo_list-update-form"
          hx-swap="outerHTML">
          {% csrf_token %}
          {{ form }}
        <br/>
        <button class="m-1 btn btn-success">
            <div class="spinner-border spinner-border-sm htmx-indicator">
                <span class="visually-hidden">Loading...</span>
            </div>
            Save
        </button>
        <button class="m-1 btn btn-danger"
                type="button"
                hx-get="{% url 'todo-list-info' todo_list.pk %}"
                hx-target="#todo_list-update-form"
                hx-swap="outerHTML">
            <div class="spinner-border spinner-border-sm htmx-indicator">
                <span class="visually-hidden">Loading...</span>
            </div>
            Cancel
        </button>
    </form>
</div>
