{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}Todo List{% endblock %}

{% block scripts %}
    <script src="{% static 'layout/js/cookie.js' %}"></script>
    <script src="{% static 'todo_list/js/tasks.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <h1 class="col-7">{{ object.name }}</h1>
        <a class="col-1 m-2 btn btn-primary" href="{% url 'todo-list-edit' todo_list.pk %}">Edit</a>
    </div>
    <br/>
    <div class="row justify-content-center">
        <form class="col-8 card bg-light" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <h3 class="card-title">New Task</h3>
                {{ form }}
                <br/>
                <input class="btn btn-primary" type="submit" value="Create Task"/>
            </div>
        </form>
    </div>
    <br/>
    <div class="row justify-content-center">
        <div class="col-8 card bg-light">
            <div class="card-body">
                <h3 class="card-title">Tasks</h3>
                {% for task in page_obj %}
                    <div class="row">
                        <div class="col m-1 card bg-light">
                            <div class="row card-body">
                                <div class="col-1">
                                    <input class="task-checkbox" type="checkbox"{% if task.completed %} checked{% endif %} data-url="{% url 'task-completed' task.pk %}"/>
                                </div>
                                <a class="col-7 nav-link" href="{% url 'task-edit' task.pk %}">{{ task.name }}</a>
                                <div class="col-2">{{ task.due_date }}</div>
                                <form class="col-2" method="POST" action="{% url 'task-delete' task.pk %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <input class="col btn btn-danger" type="submit" value="Delete"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="row">
                        <div class="col">No Data</div>
                    </div>
                {% endfor %}
                <br/>
                <div class="row justify-content-center">
                    {% if page_obj.has_previous %}
                        <a class="col-2 btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% else %}
                        <a class="col-2 btn btn-secondary pe-none">Previous</a>
                    {% endif %}
                    <div class="col-2 text-center">Page {{ page_obj.number }} of {{ paginator.num_pages }}</div>
                    {% if page_obj.has_next %}
                        <a class="col-2 btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
                    {% else %}
                        <a class="col-2 btn btn-secondary pe-none">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
