{% extends 'layout/layout.html' %}

{% block title %}Edit Todo {% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <h1 class="col-8">Edit Todo List</h1>
    </div>
    <br/>
    <div class="row justify-content-center">
        <form class="col-8 card bg-light" method="POST">
            {% csrf_token %}
            <div class="card-body">
                {{ form }}
                <br/>
                <input class="btn btn-primary" type="submit" value="Save"/>
            </div>
        </form>
    </div>
{% endblock %}
